.App {
  text-align: center;
}

p{
  font-size: xx-large;
}

.like{
  margin: auto;
}

.button{
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  color: #ffffff;
  font-size: x-large;
}

#plus{
  background-color: #1dcc1d;
  /* border: none; */
  margin-right: 10px;
}

#minus{
  background-color: #ff1414;
  /* border: none; */
}